[Desktop Entry]
Type=Application
Name=Nida
Name[ar]=نداء
GenericName=Prayer Time App
GenericName[ar]=مواقيت الصلاة
Comment=Prayer time notification and adhan player
Comment[ar]=تطبيق مواقيت الصلاة والأذان
Exec=Nida
Icon=nida
Categories=Utility;
Keywords=prayer;adhan;islam;salah;
Terminal=false
StartupNotify=true
StartupWMClass=Nida
SingleMainWindow=true
X-GNOME-Autostart-enabled=false
